@import "root";

body {
  background: var(--primary-bg);
}

.main-wrapper {
  font-family: $font-family;
  background: var(--primary-bg);
  position: relative;

  .top-bg-color {
    background: var(--top-bg-color);
    height: 25vh;
    width: 100%;
    position: inherit;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

// Container
.container {
  max-width: 37.5rem;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  .header {
    padding: 3rem 0;
    .header__text-container {
      border-bottom: 0.1rem solid var(--blue-text);
      padding-bottom: 2rem;
      .header__header-text {
        color: var(--white-text);
        font-size: 3rem;
      }
      .header__subheader-text {
        color: var(--blue-text);
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: 0.5px;
      }
    }
    .header__theme-toggle {
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 1.5rem;
        color: var(--blue-text);
        font-weight: bold;
      }

      input[type="checkbox"] {
        cursor: pointer;
        position: relative;
        width: 5rem;
        height: 2.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: linear-gradient(
          to right,
          hsl(210, 78%, 56%),
          hsl(146, 68%, 55%)
        );
        border-radius: 2rem;
        transition: all 0.5s ease-in-out;
      }

      input:checked[type="checkbox"] {
        background: hsl(230, 22%, 74%);
      }

      input[type="checkbox"]::before {
        content: "";
        position: absolute;
        background: hsl(228, 28%, 20%);
        top: 0.4rem;
        left: 0.5rem;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 50%;
        transition: all 0.5s ease-in-out;
      }

      input:checked[type="checkbox"]::before {
        left: 55%;
        background: #fff;
      }
    }
  }

  // Section: Summary
  .summary {
    margin-bottom: 4rem;
    &.grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      .grid-item {
        background: var(--primary-card-bg);
        // height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        border-radius: 0.5rem;

        &:first-child {
          border-top: 0.3rem solid $facebook;
        }
        &:nth-child(2) {
          border-top: 0.3rem solid $twitter;
        }
        &:nth-child(3) {
          border-top: 0.3rem solid $instagram;
        }
        &:last-child {
          border-top: 0.3rem solid $youTube;
        }

        .username {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;
          p {
            font-size: 1.5rem;
            color: var(--blue-text);
            margin-left: 1rem;
          }
        }

        .followers {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 3rem;
          .large-text {
            color: var(--white-text);
            font-size: 6rem;
            font-weight: bold;
          }
          .lead {
            color: var(--blue-text);
            font-size: 1.4rem;
            letter-spacing: 0.3rem;
            text-transform: uppercase;
            font-weight: 100;
          }
        }

        .status {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;

          p {
            margin-left: 0.5rem;
            color: var(--white-text);
            font-size: 1.2rem;

            &.green {
              color: $lime-green;
            }
            &.red {
              color: $bright-red;
            }
          }
        }
      }
    }
  }

  // Section: Overview
  .overview {
    padding-bottom: 3rem;
    .overview-header {
      margin-bottom: 2.5rem;
      h2 {
        color: var(--white-text);
        font-size: 2.6rem;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      .grid-item {
        background: var(--primary-card-bg);
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border-radius: 0.5rem;

        .top-section,
        .bottom-section {
          display: flex;
          justify-content: space-between;
        }

        .top-section {
          margin-bottom: 4rem;
          p {
            font-size: 1.5rem;
            color: var(--blue-text);
            font-weight: bold;
          }
        }

        .bottom-section {
          align-items: center;

          .number {
            font-size: 2.5rem;
            color: var(--white-text);
          }
          .status {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin-right: 1rem;
              // height: 1rem;
            }

            .green,
            .red {
              font-size: 1.3rem;
            }

            .green {
              color: $lime-green;
            }
            .red {
              color: $bright-red;
            }
          }
        }
      }
    }
  }
}

@import "media";
